<div class="container">
    <div class="row">
    <div class="col col-md-offset-3 col-md-6">
        <nav class="panel panel-default">
        <div class="panel-heading">タスクを編集する</div>
        <div class="panel-body">
            <!-- @taskをローカル変数としてパーシャルに渡す-->
            <!-- _form.html.erbでは「task」が使用できる-->
            <%= render "form", task: @task, task_url: folder_task_path(folder_id: @task.folder_id, id: @task.id) %>
        </div>
        </nav>
    </div>
    </div>
</div>
